*.class
*.log
.DS_Store

# sbt specific
.cache
/.bloop
.metals
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/metals.sbt
project/.bloop
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
.idea
.vscode


